.navbarItems {
    color: rgb(42, 81, 42);
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display:grid;
    grid-template-columns:repeat(6, auto);
    grid-gap:10px;
    list-style-type: none;
    text-align: center;
    justify-content:end;
    width: 70vw;
    margin-right:20px;
}

.nav-links {
    color: rgb(42, 81, 42);
    text-decoration-line: none;
    cursor: pointer;
    padding:0.5rem 0.5rem;
}

.nav-links:hover {
    background-color:rgb(143, 192, 234);
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: black;
}

.menu-icon {
    display:none;
}